### Section A: Data Structures & Control Structures

#### 1.	Create a list of 5 integers. Perform and print the result of the following operations: append, extend, insert, remove, pop, clear, index, count, sort, and reverse.

In [21]:
x = [10,20,30,40,50]
type(x)

list

In [22]:
x.append(60) #Append 
print(x)

[10, 20, 30, 40, 50, 60]

In [23]:
x.extend([70,80]) #Extend
print(x)

[10, 20, 30, 40, 50, 60, 70, 80]

In [24]:
x.insert(2,25) #Insert
print(x)

[10, 20, 25, 30, 40, 50, 60, 70, 80]

In [25]:
x.remove(25) #Remove
print(x)

[10, 20, 30, 40, 50, 60, 70, 80]

In [26]:
x.pop() #Pop
print(x)

[10, 20, 30, 40, 50, 60, 70]

In [27]:
x.index(30) #Index

2

In [28]:
x.count(20) #Count

1

In [29]:
x.sort() #Sort
print(x)

[10, 20, 30, 40, 50, 60, 70]

In [30]:
x.reverse() #Reverse
print(x)

[70, 60, 50, 40, 30, 20, 10]

In [31]:
x.clear() #Clear
print(x)

[]

#### 2.	Create a tuple that stores 3 student names. Try changing the second name in the tuple. What happens? Explain why.

In [32]:
tuple = ("Tom", "Oggy", "Rio")
type(tuple)

tuple

In [33]:
tuple[1] = 'Eros'

TypeError: 'tuple' object does not support item assignment

##### Explanation :
- A tuple is immutable in Python.
- Immutable means once created, its elements cannot be changed.
- That’s why changing the second name in a tuple causes a TypeError.

#### 3.	Create a set of integers with some duplicate values. Print the set and explain the output.

In [ ]:
set1 = {20,10,20,30,30,40,40,50}
type(set1)

In [ ]:
set1

### Explanation :

- A set in Python stores only unique elements.
- Duplicate values are automatically removed when the set is created.

#### 4.	Create a dictionary with the keys: 'name', 'age', and 'city'. Update the age and add a new key 'email'. Print the final dictionary.

In [ ]:
dic = {
    'name' : 'Rio' ,
    'age' : 21 ,
    'city' : 'Ahmedabad '
} # Creating Dictionary
type(dic)

In [ ]:
dic["age"] = 22 #Update
dic['Email'] = 'rio0099@gmail.com' #Add New Key

In [ ]:
print(dic)

#### 5.	 Write a script that checks if a person is eligible to vote (age ≥ 18). Take age as a variable and print the appropriate message.

In [ ]:
age = int(input("Enter The Age :")) 
if age >= 18 :
    print("Person Is Eligible ")
else :
    print("Person Is Not Eligible")

#### 6.	Given a 'marks' variable, print the grade:
- 90 and above: 'A'
- 75–89: 'B'
- 50–74: 'C'
- Below 50: 'Fail'

In [ ]:
marks = int(input("Enter  Marks Here :"))
if marks >= 90 :
    print("Your Grade Is A")
elif marks >= 75 and marks < 90 :
    print("Your Grade Is B")
elif marks >= 50 and marks <75 :
    print("Your Grade Is C")
else :
    print("Ohh No..! Your Are Failed")

#### 7.	Given a number, check if it's positive, and if it is also even. If not positive, print if it's zero or negative.

In [ ]:
num = int(input("Enter Any Number Here : "))
if num > 0 :
    print("Number Is Positive")
    if num % 2 == 0 :
        print("Number Is also Even")
    else :
        print("Number Is Odd")
elif num == 0 :
    print("Number Is Zero")
else :
    print("Numer Is Negative")

### Section B: Numpy

#### 8.	Create:
- A scalar using np.array(5)
- A 1D array with values 1 to 5
- A 2D array (2x3) with values from 10 to 60 in steps of 10

In [ ]:
import numpy as np
# A scalar using np.array(5)
scalar = np.array(5)
print(f"Scalar : {scalar}")
print(f"Shape : {scalar.shape}")

In [ ]:
# A 1D array with values 1 to 5
array_1d = np.array([1,2,3,4,5])
print(f"1D Array : {array_1d}")
print(f"Shape : {array_1d.shape}")

In [ ]:
# A 2D array (2x3) with values from 10 to 60 in steps of 10
array_2d = np.array([[10,20,30],[40,50,60]])
print(f"2D Array :\n {array_2d}")
print(f"Shape : {array_2d.shape}")

#### 9.	Generate a 4x4 Numpy array of random integers between 0 and 100 using np.random.randint()10

In [ ]:
random_array = np.random.randint(0, 101 , size = (4, 4))
print(f"4x4 Random Integer Array:\n {random_array}")

#### 10.	Create a 2D numpy array of shape (3x3). Convert it into a pandas DataFrame and add column names: 'A', 'B', 'C'.

In [ ]:
import numpy as np 
import pandas as pd

arr = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]]) #Creating a 2d array

df = pd.DataFrame(arr , columns = ["A", "B", "C"]) #Creating A pandas Dataframe 
print(df)
print(type(df))

### Section C: Exploring Pandas

#### 11.	Create a small DataFrame manually with 10 rows and columns: 'Name', 'Age', 'City', and 'Salary'. Then:
- Use .info(), .describe()
- Select 'Name' and 'City' columns
- Drop 'City' column
- Fill any missing values in 'Salary' column with the mean
- Remove any duplicate rows

In [ ]:
import numpy as np
import pandas as pd

data = {
    "Name" : ["Rio", "Rio", "Neha", "Neha", "Karan", "Smit", "Arun", "Kuldeep", "Maulik", "Khushi"], 
    "Age" : [21, 21, 24, 24, 21, 22, 20, 21, 21, 22],
    "City" :["Mumbai", "Mumbai", "Pune", "Pune", "Surat", "Delhi", "Mumbai", "Jaipur", "Indore", "Ahmedabad"],
     "Salary": [50000, 50000, 55000, 55000, 65000, 50000, np.nan, 70000, np.nan, 55000]
}

df = pd.DataFrame(data) #Creating Dataframe
df

In [ ]:
df.info() #info

In [ ]:
df.describe() #Describe

In [ ]:
df[["Name", "City"]] #Select 'Name' and 'City' columns

In [ ]:
df['Salary'] = df['Salary'].fillna(df['Salary'].mean())#Fill any missing values in 'Salary' column with the mean
df

In [ ]:
new_df = df.drop_duplicates() #Remove any duplicate rows
new_df